*{
    padding:0;
    margin:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height:100vh;
    background:linear-gradient(150deg,rgb(32, 12, 93),rgb(153, 10, 103));
    padding:10px;
}
.to-do-app{
    width:100%;
    max-width:600px;
    background: white;
    margin:100px auto 20px;   /*100 on top, auto-left n right, 20 on bottom */
    padding:40px 30px 70px;
    border-radius:10px;
}
.to-do-app h2{
    color:#002765;
    display: flex;   /*If u remove both these displ and align-items, and add text-align:center;--->U get ur title in the middle of box*/
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.to-do-app h2 img{
    width:30px;
    margin-left: 10px;
}
.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:rgb(238, 236, 236);
    border-radius:30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input{
    flex:1;
    border:none;
    background: transparent;
    outline:none;
    padding:10px;
}
.row button{
    border:none;
    outline: none;
    padding:16px 50px;
    background: rgb(247, 58, 168);
    color:black;
    font-size:18px ;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 40px;
    cursor:pointer;
    user-select: none;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    height:28px;
    width:28px;
    border-radius: 50%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB5VqkOoWW1mXD32kPWesBUDDIBlxuKAKFqg&s");
    background-size: cover;
    background-position: center;
    top:8px;
    left:8px;
}
ul li.checked{        /*if I give space b/w li and .checked->line-thru not working */
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    /* background-image: url("https://media.istockphoto.com/id/2023828088/vector/checkmark-correct-tick-icon-confirm-approval-checklist-done-vector-icon.jpg?s=612x612&w=0&k=20&c=jcMcAnPF7udPoMP8ztToTlLWKHpM56p_iaHBb4VQGAc="); */
background-image: url('https://img.icons8.com/win10/512/F25081/checked--v2.png');
}
ul li span{
    position: absolute;
    right:0;
    top:5px;
    width: 40px;
    height:40px;
    font-size: 20px;
    color:#555;
    line-height: 40px;
    text-align:center;
    border-radius:50%;
}
ul li span:hover{
    background: #edeef0;
}